h1 {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", 
			     "Helvetica Neue", Arial, sans-serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
}

p {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, 
	             Verdana, sans-serif; 
	font-size: 14px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 20px;
}

img#right {
	float: right;
	width: 200px;
	padding: 10px;
}